In [20]:
import pandas as pd
import numpy as np

pd.Series([1,3,5,np.nan,6,8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [21]:
dates = pd.date_range('20170101', periods=7)

pd.DataFrame(np.random.randn(7,4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2017-01-01 -0.237226  0.065688 -1.650932  0.417587
2017-01-02  0.635293  0.661971 -0.253459  0.572517
2017-01-03  0.843241 -0.014136  1.194340  0.690518
2017-01-04  2.242781  0.836845 -0.701321 -0.733367
2017-01-05  0.971420  0.949545  0.422214  1.184160
2017-01-06  1.481754 -1.311194  0.979707  1.712156
2017-01-07  1.110982 -0.641952 -0.351498 -2.306223